body{
    overflow-x:hidden;
}

#col-1 {
  position: relative;
  width: 25%;
  float: left;
  height: 100%;
  padding-left: 25px;
  padding-top: 20px;
}

#col-1 caption{
  text-align: center;
}

#col-2 {
  position: relative;
  width: 75%;
  float: left;
  height: 100%;
  overflow-x:hidden;
}

#col-1 img{
  width: 90%;
  height: 280px;
  border: 1px solid black;
  border-radius: 25px;
}

#left h2{
  margin-top: 25px;
  margin-bottom: 20px;
}

#left a{
  margin-right:5px;
  margin-bottom: 20px;
}

#left p{
  padding: 5px;
}

#details-container {
  position: relative;
  margin: 20px 10px 10px 10px;
  float: left;
  width: 95%;
  height: 350px;
}

#left {
  position: relative;
  width: 60%;
  float: left;
  height: 100%;
}

#right {
  position: relative;
  width: 40%;
  float: left;
  height: 100%;
  overflow-x:hidden;
}
