body{
    background-image: url("../../static/pics/b2.jpg");
}
.styling{
    margin-top: 80px;
    margin-left: 50px;
}
button{
    margin-left: 40px;
    margin-right: 5px;
}
h1{
    font-size: 3em;
    margin-bottom: 20px;
    color:lightgoldenrodyellow;
}
label{
    font-size: 1em;
    color:lightgoldenrodyellow;
    font-weight: bold;
}
input{
    border-radius: 10px;
}