{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/borrow.css' %}">

  <div id="wrapper">
  
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" style="color: white;">
        <li>
          <a href="#">Price</a>
        </li>
        <li>
          <a href="#">Tag</a>
        </li>
        <li>
          <a href="#">Type</a>
        </li>
      </ul>
    </div>
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-secondary float-right" id="menu-toggle">Filter Here-></a>
        <h1 style="margin-bottom:40px;color:white;"><u>Search and explore your books</u></h1>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% if count %}
        {% for item in cart_items %}
          <div class="col mb-4">
            <div class="card h-100" style="filter: drop-shadow(13px 13px 13px #9c9a9a); border-radius:25px; background-color:black; border: 1px solid white; color:white;">
              <img src="{{ item.seller.photo.url }}" class="card-img-top" style="height: 10rem; border-radius:25px;" alt="{{item.book_name}}">
              <div class="card-body">
                <p class="card-title"><b>Book Name :</b> {{item.seller.book_name}}</p>
                <p class="card-text"><b>Author :</b> {{item.seller.author}}</p>
                <p class="card-text"><b>Published By :</b> {{item.seller.published_by}}</p>
                <a class="btn btn-warning" style="float:right;" href="{% url 'book_detail' item.seller.id %}">View book-></a>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
          <div class="container">
            <div class="container">
              <div class="jumbotron">
                <h3>There are zero items in your cart.</h3>
              </div>
            </div>
          </div>
        {% endif %}
        
      </div>

    </div>
  </div>

</div>



<!-- CART_ITEMS.JS -->


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.js'></script>
<script src="{% static '/js/borrow.js' %}"></script>

{% endblock %}

